<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:8000/">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/main2.css">
</head>
<body>
    <div class="topbar"><a href="/"><img src="images/logo.png" alt="logo"></a></div>
    <nav>
        <ul>
            <li ><a href="/">Home</a></li>
            <li><a href="/pages/dashboard">Dashboard</a></li>
            <li><a href="">Downline</a></li>
            <li><a href="">Transactions</a></li>
            <li><a href="">Support</a></li>
        </ul>
    </nav>