<%- include('layouts/dbheader.ejs') %>
<!-- <script>
    alert(`Login Succesful!`)
</script> -->
<div class="wlc">
    <h1>WELCOME TO YOUR DASHBOARD..</h1>
    <button><a href="/pages/logout">Logout</a></button>
</div>

<% users.forEach((user)=>{ %>
    <div class="name">
        <h1><%= user.fullname %></h1>
</div>
<div class="email">
    <p><b>Email:</b><%= user.email %></p>
</div>
<% }) %>
<%- include('layouts/footer.ejs') %>