<%- include('layouts/header.ejs') %>
<nav>
    <ul>
        <li style="background-color:#c60303;"><a href="/pages/login" style="color:#000000;">Sign In</a>    </li>
        <li style="background-color:#ffffff;"><a href="/pages/registration" style="color:#000000;">Sign Up</a></li>
    </ul>
</nav>
    <div class="hbody">
        <div class="about">

        </div>
    </div>
<%- include('layouts/footer.ejs') %>